<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Index Page</title>
        <link rel="stylesheet" href="styles.css">
        <h1>Zesty's Corner</h1>
    </head>

    <body>    
        <a href="/"><h2>Home</h2></a>
        <a href="/newtask"><h2>Add new task</h2></a><br><br>
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
        <form action="/" method="GET">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Due Date</th>
                    <th>Description</th>
                </tr>
                <% for(let i = 0; i < tasks.length; i++){ %>
                <tr>
                    <td><%= tasks[i].name %></td>
                    <td><%= tasks[i].due %></td>
                    <td><%= tasks[i].desc %></td>
                </tr>
                <%} %>
            </table>
        </form>
    </body>
</html>
